.fuzzy-tab-search-parent {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
  top: 50%;
  left: 50%;
  z-index: 999999;
  transform: translate(-50%, -50%);
  background-color: #191724;
  width: 75%;
  height: 75%;
  font-size: 12px;
  font-family: monospace;
  border-radius: 2px;
}

.fuzzy-tab-search-tab-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: 1px solid white;
  border-style: solid;
  border-radius: 2px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.fuzzy-tab-search-tab-list-item {
  padding: 4px 16px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-family: monospace;
}

.fuzzy-tab-search-search-box {
  padding: 2px 4px;
  border: 1px solid white;
  background-color: rgba(25, 23, 36, 0.95);
  border-radius: 2px;
  outline: none;
  color: white;
}
