@tailwind base;
@tailwind components;
@tailwind utilities;

.main {
  @apply flex flex-col gap-4 p-4;
}

.tab-list {
  @apply flex flex-col;

  li {
    @apply p-4 cursor-pointer hover:bg-green-300 rounded-lg;
  }
}

.search-box {
  @apply p-4 bg-gray-300 rounded-lg focus:outline-none;
}

.highlighted {
  @apply bg-green-300;
}
