@tailwind base;
@tailwind components;
@tailwind utilities;

.fuzzy-tab-search-parent {
  @apply fixed flex flex-col gap-4 p-4 top-1/2 left-1/2 z-[999999] -translate-x-1/2 -translate-y-1/2
  bg-[#191724]/95 w-3/4 h-3/4 text-lg font-mono rounded-lg;
}

.fuzzy-tab-search-tab-list {
  @apply grow flex flex-col justify-end border border-solid border-white rounded-lg overflow-scroll;
}

.fuzzy-tab-search-tab-list-item {
  @apply py-[4px] px-[16px] cursor-pointer text-white text-[16px] font-mono;
}

.fuzzy-tab-search-search-box {
  @apply px-4 py-2 border border-white bg-[#191724]/95 rounded-lg focus:outline-none text-white;
}
